<!DOCTYPE html>
<html>
<head>
  <% include ../partials/newhead.ejs %>
  <title>Editing A Visit to the Dentist</title>
</head>
<body>
  <h2>Edit A Visit to the Dentist</h2>
  <div id="link">
    <a href="/mad-libs">Home Page</a>
  </div>
  <br>
  <form id="action" action="/mad-libs/<%= _id %>" method="POST">
    <div id="left" class="column">
      <label>Plural Noun</label>
      <input type="text" name="pluralNoun1" value="<%= pluralNoun1 %>"></input><br><br>
      <label>Last Name of Someone in the Room</label>
      <input type="text" name="name" value="<%= name %>"></input><br><br>
      <label>Adjective</label>
      <input type="text" name="adjective1" value="<%= adjective1 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun1" value="<%= noun1 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun2" value="<%= noun2 %>"></input><br><br>
      <label>Part of the Body</label>
      <input type="text" name="bodyPart1" value="<%= bodyPart1 %>"></input><br><br>
      <label>Part of the Body</label>
      <input type="text" name="bodyPart2" value="<%= bodyPart2 %>"></input><br><br>
      <label>Plural Noun</label>
      <input type="text" name="pluralNoun2" value="<%= pluralNoun2 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun3" value="<%= noun3 %>"></input><br><br>
    </div>
    <div class="column">
      <label>Noun</label>
      <input type="text" name="noun4" value="<%= noun4 %>"></input><br><br>
      <label>Exclamation</label>
      <input type="text" name="exclaim" value="<%= exclaim %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun5" value="<%= noun5 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun6" value="<%= noun6 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun7" value="<%= noun7 %>"></input><br><br>
      <label>Verb</label>
      <input type="text" name="verb1" value="<%= verb1 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun8" value="<%= noun8 %>"></input><br><br>
      <label>Adjective</label>
      <input type="text" name="adjective2" value="<%= adjective2 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun9" value="<%= noun9 %>"></input><br><br>
      <input type="hidden" name="_method" value="PUT"/>
      <br>
      <br>
      <button>Submit</button>
      <br>
      <br>
      <br>
    </div>
  </form>
  <form id="delete" action="/mad-libs/<%= _id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <button>Delete</button>
  </form>
  <% include ../partials/footer.ejs %>
</body>
</html>