<!DOCTYPE html>
<html>
<head>
  <% include ../partials/newhead.ejs %>
  <title>Editing Talk Like a Pirate</title>
</head>
<body>
  <h2>Edit Talk Like a Pirate</h2>
  <div id="link">
    <a href="/mad-libs">Home Page</a>
  </div>
  <br>
  <br>
  <form action="/mad-libs/<%= _id %>" method="POST">
    <div id="left" class="column">
      <label>Noun</label>
      <input type="text" name="noun1" value="<%= noun1 %>"></input><br><br>
      <label>Adjective</label>
      <input type="text" name="adjective1" value="<%= adjective1 %>"></input><br><br>
      <label>Verb</label>
      <input type="text" name="verb1" value="<%= verb1 %>"></input><br><br>
      <label>Adverb</label>
      <input type="text" name="adverb1" value="<%= adverb1 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun2" value="<%= noun2 %>"></input><br><br>
      <label>Adjective</label>
      <input type="text" name="adjective2" value="<%= adjective2 %>"></input><br><br>
      <label>Plural Noun</label>
      <input type="text" name="pluralNoun1" value="<%= pluralNoun1 %>"></input><br><br>
      <label>Plural Noun</label>
      <input type="text" name="pluralNoun2" value="<%= pluralNoun2 %>"></input><br><br>
    </div>
    <div class="column">
      <label>Plural Noun</label>
      <input type="text" name="pluralNoun3" value="<%= pluralNoun3 %>"></input><br><br>
      <label>Part of the Body</label>
      <input type="text" name="bodyPart1" value="<%= bodyPart1 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun3" value="<%= noun3 %>"></input><br><br>
      <label>Noun</label>
      <input type="text" name="noun4" value="<%= noun4 %>"</input><br><br>
      <label>Noun</label>
      <input type="text" name="noun5" value="<%= noun5%>"</input><br><br>
      <label>Noun</label>
      <input type="text" name="noun6" value="<%= noun6 %>"></input><br><br>
      <label>Part of the Body</label>
      <input type="text" name="bodyPart2" value="<%= bodyPart2 %>"></input>
      <input type="hidden" name="_method" value="PUT"/>
      <br>
      <br>
      <button>Submit</button>
      <br>
      <br>
    </div>
  </form>
  <form id="delete" action="/mad-libs/<%= _id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <button >Delete</button>
  </form>
</body>
</html>