<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>How to Date The Coolest Guy/Girl in School</title>
</head>
<body>
  <h2>How to Date The Coolest Guy/Girl in School</h2>
  <div>
    <div><img src="<%= image1 %>"></div>
    <div><img src="<%= image2 %>"></div>
  </div>
  <div id="text">
    <p>It’s simple. Turn the <%= pluralNoun1 %>. Make him/her want <%= adverb1 %> to date you. Make sure you’re always dressed to <%= verb1 %>. Each and every day, wear a/an <%= clothing %> that you know shows off your <%= bodyPart1 %> to <%= adjective1 %> advantage and make your <%= noun1 %> look like a million <%= pluralNoun2 %>. Even if the two of you make meaningful <%= bodyPart2 %> contact, don’t admit it. No hugs or <%= pluralNoun3 %>. Just shake his/her <%= bodyPart3 %> firmly. And remember, when he/she asks you out, even though a chill may run down your <%= noun2 %> and you can’t stop your <%= noun3 %> from <%= verbing %> , just play it <%= adjective2 %>. Take a long pause before answering in a very <%= adjective3 %> voice. I’ll have to <%= verb2 %> it over.”</p>
  </div>
  <div>
    <div><img src="<%= image3 %>"></div>
    <div><img src="<%= image4 %>"></div>
  </div>
  <br>
  <br>
  <a href="/mad-libs/<%= _id %>/edit">Edit this Mad Lib</a>
  <br>
  <br>
<a href="/mad-libs">GO HOME</a>
</body>
</html>