<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../styles/show.css">
  <title>A Visit to the Dentist</title>
</head>
<body>
  <h2>A Visit to the Dentist</h2>
  <div id="link">
    <a href="/mad-libs">Home Page</a>
  </div>
  <div class="photo-holder">
    <div class="photo"><img src="<%= image1 %>"></div>
    <div class="photono"></div>
    <div class="photono"></div>
    <div class="photo"><img src="<%= image2 %>"></div>
  </div>
  <div id="text">
    <p>A one-act play to be performed by two <%= pluralNoun1 %> in this room.
    <br>
    <br>
    PATIENT: Thank you so very much for seeing me, Doctor <%= name %>, on such <%= adjective1 %> notice. 
    <br>
    <br>
    DENTIST: What is your problem, young <%= noun1 %>?
    <br>
    <br>
    PATIENT: I have a pain in my upper <%= noun2 %>, which is giving me a severe <%= bodyPart1 %> ache. 
    <br>
    <br>
    DENTIST: Let me take a look. Open your <%= bodyPart2 %> wide. Good. Now I'm going to tap your <%= pluralNoun2 %> with my <%= noun3 %>.
    <br>
    <br>
    PATIENT: Shouldn't you give me a/an <%= noun4 %> killer?
    <br>
    <br>
    DENTIST: It's not necessary yet. <%= exclaim %>! I think I see a/an <%= noun5 %> in your upper <%= noun6 %>.
    <br>
    <br>
    PATIENT: Are you going to pull my <%= noun7 %> out?
    <br>
    <br>
    DENTIST: No. I'm going to <%= verb1 %> your tooth and put in a temporary <%= noun8 %>.
    <br>
    <br>
    PATIENT: When do I come back for the <%= adjective2 %> filling?
    <br>
    <br>
    DENTIST: A day after I cash your <%= noun9 %>.</p>
  </div>
  <divclass="photo-holder">
    <div class="photo"><img src="<%= image3 %>"></div>
    <div class="photono"></div>
    <div class="photono"></div>
    <div class="photo"><img src="<%= image4 %>"></div>
  </div>
  <br>
  <br>
  <a id="edit" href="/mad-libs/dentist/<%= _id %>/edit">Edit this Mad Lib</a>
</body>
</html>