<!DOCTYPE html>
<html>
<head>
  <% include ../partials/showhead.ejs %>
  <title>How to Study</title>
</head>
<body>
  <h2>How to Study</h2>
  <div id="link">
    <a href="/mad-libs">Home Page</a>
  </div>
  <div class="photo-holder1">
    <div class="photo"><img src="<%= image1 %>"></div>
    <div class="photono"></div>
    <div class="photono"></div>
    <div class="photo-right"><img src="<%= image2 %>"></div>
  </div>
  <div id="text">
    <p>Listen, <%= adjective1 %> teachers always give out <%= adjective2 %> assignments. But as everyone knows, if you want to pass all your classes so you can go to a/an <%= noun1 %> and become president of a big international <%= noun2 %> and have millions of <%= pluralNoun1 %> in the bank, you must do your homework and study <%= adverb1 %>. If you just sit around and <%= verb1 %>, you won’t get ahead in life. You must learn to pay attention to every <%= adjective3 %> thing your teacher says. Do not interrupt or whisper to another <%= pluralNoun2 %> during class. Be sure to have a nice, <%= adjective4 %> notebook in which you can write down anything the teacher says that seems <%= adjective5 %>. Then go home and memorize all of those <%= adjective6 %> notes. When your teacher gives you a surprise quiz, you will know all of the <%= pluralNoun3 %>.</p>
  </div>
  <div class="photo-holder2">
    <div class="photo"><img src="<%= image3 %>"></div>
    <div class="photono"></div>
    <div class="photono"></div>
    <div class="photo-right"><img src="<%= image4 %>"></div>
  </div>
  <br>
  <br>
  <a id="edit" href="/mad-libs/study/<%= _id %>/edit">Edit this Mad Lib</a>
  <% include ../partials/footer.ejs %>
</body>
</html>